# 1Môi trường ảo và biến môi trường
venv/
env/
.env

# File rác Python và Jupyter Notebook
__pycache__/
*.pyc
*.pyo
*.pyd
.ipynb_checkpoints/

# Manim
media/

# Latex
*.aux
*.log
*.out
*.toc
*.fls
*.fdb_latexmk
*.synctex.gz
*.bbl
*.blg
*.xdv

# Cấu hình cá nhân của Editor và Hệ điều hành
.vscode/
.DS_Store
Thumbs.db